*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	background: linear-gradient(#bebdbd 10%, #fdfffe 105vh);
    background-size: cover;
    height: 100vh;
}

.fa {
    position: absolute;
    margin: 8px;
}

fieldset{
	background: white;
    position: relative;
    width: 500px;
    margin: auto;
    top: 25%;
	    transform: scale(1.3);
    border: 0;
    box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.5);
    border-radius: 10px;
}
fieldset img{
	
    width: 223px;
    margin: 0 0px -61px;
	
}

.voteconfirme{

    margin: -32px -5px -82px;
    padding-bottom: 54px;
    width: 246px;

}

.votar2 {

    position: absolute;
    margin: -83px -35px auto !important;

}


fieldset form{
	
    padding: 9px;
    text-align: center;
	
}
fieldset form .cpf, 
fieldset form .votar {
	
    display: inline-block;
    margin-left: 35%;
    margin-top: -15%;
	
}
fieldset form .cpf h1{
	
    font-size: 25px;
    margin-top: -18%;
    margin-bottom: 5px;
    color: rgb(97 199 142);
    text-align: center;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;

}
fieldset form .votar h1{
    font-size: 18px;
    margin-top: -18%;
    margin-bottom: 5px;
    color: #70c995;
    font-family: "Poppins", sans-serif;

}

fieldset form .cpf input[type="number"]{
    width: 90%;
    height: 30px;
    text-align: center;
    border: 1px solid rgb(232 232 232);
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 2px 0px 1px #e8e8e8;
    
}
fieldset form .votar input[type="number"]{
    width: 90%;
    height: 30px;
    text-align: center;
    background-color: rgb(0 0 0 / 0%);
    border-radius: 5px;
    border: 1px solid #61c78e;
    color: #61c78e;
    cursor: pointer;
}
.input-icon{
    color:#029ec9;
    width: 50%;
    height: 25px;
} 

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
fieldset form .cpf input[type="submit"]{
	
    width: 90%;
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    background-color: rgb(0 0 0 / 0%);
    border-radius: 5px;
    border: 1px solid #61c78e;
    color: #61c78e;
    cursor: pointer;
	

}

fieldset form .cpf input[type="submit"]:hover{
	
	background: #61c78e;
	color: white;
	
}


fieldset form .votar input[type="submit"]{

    width: 90%;
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    background-color: rgb(0 0 0 / 0%);
    border-radius: 5px;
    border: 1px solid #61c78e;
    color: #61c78e;
    cursor: pointer;
	
}

.text{
    margin: 6px auto;
    padding: 2px;
    width: 90%;
    font-size: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;

}
.text a{
    text-decoration: none;
    color: #029ec9;
}
.text a:hover{
    color:black;
}

.typing-animation {
    animation: typing 12s steps(40) 1s normal infinite;
  }

  footer {
    display: flex;
    color: #bdbdbd;
  }
  
  .socials {
    margin-left: 1240px;
    margin-top: 280px;
    display: block;
    
  }
  
  .socials--item {
    margin-right: 35px;
  }
  
  .socials--item:hover {
    color: #333;
  }

@keyframes typing {
from {
    width: 0;
}
to {
    width: 8em;
}
}

@media (max-width: 768px) {
	
	body {
    background: #bdbdbd;
}

.fa {
    margin: 30px -15px;
}

#fa2 {
    margin: 53px 28px;
}
	
	fieldset {
		
    width: auto;
    height: 100%;
    margin: -20px auto;
    box-shadow: 0 0 black;
	    transform: scale(1);
}

fieldset img {
    position: relative;
    display: flex;
    margin: -140px auto 86px;
}

fieldset form {
    position: relative;
    display: flex;
    margin: -35px 40px !important;
}

fieldset form .cpf, fieldset form .votar {
    margin: 0 auto !important;
    display: grid  !important;
}

.text, .text a {
    margin: 5px auto;
    border: 0;
    color: #a2a2a2;
}

fieldset form .cpf input[type="number"] {
	
    width: 150%;
    height: 40px;
    text-align: center;
    margin: 2px -30px;
    border: 1px solid rgb(232 232 232);
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 2px 0px 1px #e8e8e8;
	
}

fieldset form .votar input[type="submit"] {
    width: 40%;
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin: 7px auto;
    background-color: rgb(0 0 0 / 0%);
    border-radius: 5px;
    border: 1px solid #61c78e;
    color: #61c78e;
    cursor: pointer;
}

fieldset form .votar input[type="number"] {
    width: 90%;
    height: 30px;
    text-align: center;
    margin: 6px auto;
    border-bottom: 2px solid rgba(5, 156, 133,0.5);
    border: 1px solid rgb(232 232 232);
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0px 2px 0px 1px #e8e8e8;
}
	
	fieldset form .cpf input[type="submit"] {
    margin: 6px auto;
}
	
	.voteconfirme {
		
    margin: -124px auto -2px;
    padding-bottom: 100px;
    width: 246px;
	
}

fieldset form .votar h1 {
	
    font-size: 27px;
    width: 346px;
    margin: 0 auto;
	
}

.resultadomobile {
	
	left: 0;
    
    margin: -19px 10px auto;
	
	}
	
}

@media (max-width: 1268px) {
    .socials {
        margin-left: 590px;
        margin-top: 280px;
        display: block;
        
      }
      
      .socials--item {
        margin-right: 35px;
      }

     
}
